<h1>Marmo Band Calendar</h1>
<p>For Portland, Seattle, San Fran, LA, NYC, and Boston</p>
<%= link_to 'Home Page', root_path %>
<%= link_to 'Band Scouting Tools', scouting_index_path %>
<%= link_to 'Marmo Band Calendar', calendar_index_path %>